@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
*{
    margin: 0;
    padding: 0;
}
#head{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    width: 100%;
    height: 300px;
    background: rgb(40,52,180);
    background: linear-gradient(188deg, rgba(40,52,180,0.8438725832129726) 29%, rgba(254,254,255,0.8718837876947654) 52%, rgba(71,69,217,0.8354692218684349) 74%);
}

#inscription{
    width: 75%;
    height: 20px;
    grid-row: 1;
    grid-column: 9;
}
#connection{
    width: 75%;
    height: 20px;
    grid-row: 1;
    grid-column: 10;
}
#deconnection{
    width: 75%;
    height: 20px;
    grid-row: 1;
    grid-column: 10;
}
#profil{
    width: 75%;
    height: 20px;
    grid-row: 1;
    grid-column: 9;
}
#titre{
    font-size: 40PX;
    font-family: 'Zen Dots', cursive;
    grid-row: 5/6;
    grid-column: 5/7;
    text-align: center;
    vertical-align: middle;
}
#conteneur{
    margin: 2% 10%;
    width: 80%;
    height: auto;
    border: 2px solid red;
    border-radius: 2em 2em 0 0 ;
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: white;
}
#index{
    border: 2px solid white;
}
#colone1{
    border: 2px solid white;
    border-radius: 1.8em 0 0 0;
    width: 40px;
    padding: 10px;
}
#colone2{
    border: 2px solid white;
    width: 600px;
}
#colone3{
    border: 2px solid white;
    width: 100px;
}
#colone4{
    border: 2px solid white;
    width: 100px;
}
#colone5{
    border: 2px solid white;
    border-radius: 0 1.8em 0 0;
    width: 100px;
}

.modal{
    display:none;
    width:50vw;
    height:50vh;
    position:fixed;
    top:25%;
    left:25%;
    flex-direction:column;
    justify-content:space-around;
    color:white;
    background-color:rgba(0,0,0,0.9);
}

.modal *{
    margin:auto;
}

.pseudoTxtarea{
    height:20px;
    overflow:auto;
    max-width:100%;
    width:200px;
    background-color:#ccc;
    color:#333;
    font-size:20px;
    padding:1em;
}
.pseudoBtn{
    width: 150px;
    margin-top: 20px;
}
.form{
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
